<!DOCTYPE html>
<html>
<head>
  <title>Career Crumbs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/navbar" %>

<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => "alert flash #{name}" %>
  <% end %>
</div>

<div class="container">
		<%= yield %>
</div>

</body>
</html>
